<html>
	<head>
		<title>This is a generated page for {{ansible_hostname}}!</title>
	</head>
	<body>
		<p>
		<h1>Hostname: {{ansible_hostname}} running {{ansible_distribution}} {{ansible_distribution_version}}</h1>	
		<p>
		This page was last update on {{current_time}}.
	</body>
</html>
